@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

body {
  font-family: 'Alice', sans-serif;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove-arrow {
  -moz-appearance: textfield;
}

.checkbox-black {
  border: 1px solid black;
  color: black;
}

.checkbox-black:hover {
  background-color: black;
  color: white;
}
